# Quarto generated website
/_site/

# Local Quarto cache
/.quarto/

# Editor and OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
.ipynb_checkpoints/
*.orig

# Python local cache
__pycache__/
*.py[cod]


**/*.quarto_ipynb
